<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Learn Cards</title>

    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }
    </style>
</head>
<body>

<div th:replace="includes/navigation :: navigation"/>


<div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/category/{category_id}(category_id=${category.id})}"
                  th:object="${editCategory}"
                  method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Change category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="categoryName" class="col-form-label">Name:</label>
                        <textarea class="form-control" id="categoryName" th:field="*{categoryName}"></textarea>
                        <input type="hidden" id="categoryId" th:field="*{categoryId}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<main class="container">
    <th:block
            th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">

        <div class=" bg-light p-4 rounded">
            <h2 th:text="${category.name}"></h2>
            <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#editCategory">
            [Cange category name]</a>
            <a th:href="@{/category/{category_id}/create-question(category_id=${category.id})}" role="button">[Add question]</a>
            <form>
                <div class="mb-3">
                    <input
                            id="category"
                            type="text"
                            name="q"
                            th:value="${param.q}"
                    />
                    <button class="btn btn-primary btn-sm" type="submit">Search</button>
                    <a class="btn btn-primary btn-sm" th:href="@{/category/{category_id}(category_id=${category.id})}" role="button">Reset</a>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question topic</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question: ${questions}">
                    <th scope="row"><span th:text="${question.getId()}"></span></th>
                    <td><span th:text="${question.getName()}"></span></td>
                    <td><span th:text="${question.getTagsString()}"></span></td>
                    <td><a th:href="@{'/category/'+ ${category.id} +'/question/' + ${question.getId()}}">Edit</a></td>
                    <td><a th:href="@{/category/{category_id}/question/{id}/delete(id=${question.id},category_id=${category.id})}"
                           onclick="return confirm('Are you sure you want to delete this item')">Delete</a></td>
                </tr>

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:disabled="${questions.isFirst()}">

                        <a id="pagination-previous"
                           class="page-link"
                           th:href="${questions.isFirst()}?'javascript:void(0)':${urlBuilder.fromCurrentRequest().replaceQueryParam('page', questions.number - 1).toUriString()}"
                           th:disabled="${questions.isFirst()}">
                            <<
                        </a>

                    </li>


                    <th:block
                            th:with="startPage=${T(Math).max(1, questions.getNumber() - 1)},endPage=${T(Math).min(startPage + 4, questions.getTotalPages())}">
                        <li
                                class="page-item"
                                th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}"
                        >
                            <a
                                    class="page-link"
                                    th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pageNumber - 1).toUriString()}"
                                    th:id="${'pagination-page-' + pageNumber}"
                            >
                                <span th:text="${pageNumber}" th:remove="tag"></span>
                            </a>
                        </li>

                    </th:block>

                    <li class="page-item" th:disabled="${questions.isLast()}">

                        <a id="pagination-next"
                           class="page-link"
                           th:href="${questions.isLast()}?'javascript:void(0)':${urlBuilder.fromCurrentRequest().replaceQueryParam('page', questions.number + 1).toUriString()}"
                           th:disabled="${questions.isLast()}">
                            >>
                        </a>

                    </li>
                </ul>
            </nav>

        </div>

    </th:block>
</main>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>