<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }
    </style>
</head>
<body>

<div th:replace="includes/navigation :: navigation"/>


<main class="container">

    <form
            th:object="${quizStartParameters}"
            th:action="@{/quiz-start}"
            method="post"
    >

        <div class=" bg-light p-4 rounded">

            <span>Quiz setup</span>

            <br/>

            <span>totalCategories</span>
            <span th:text="${totalCategories}"></span>

            <br/>

            <span>totalQuestions</span>
            <span th:text="${totalQuestions}"></span>

            <input type="hidden" th:field="*{selectedArrayJSON}"/>

            <input type="number" step="1" min="1"  th:field="*{numberOfQuestions}"
                   th:attr="max=${totalQuestions}"
                   class="form-control mb-4 col-4" placeholder="Number of questions">

            <button type="submit" class="btn btn-primary">Start!</button>

        </div>
    </form>

</main>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>